



/* -----------------------receipt--------------------- */

.contain {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    width: 100%;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    text-align: center;
}
form {
    display: flex;
    flex-direction: column;
    width: 100%;
}
form label {
    display: block;
    margin: 10px 0 5px;
}
form input {
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 100%;
}
.receipt-button {
    background-color: #5cb85c;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 100%;
    margin-top: 10px;
}
.receipt-button:hover {
    background-color: #4cae4c;
}
.receipt {
    display: none;
    margin-top: 20px;
    padding: 15px;
    border: 1px solid #080808;
    border-radius: 5px;
    background-color: #fafafa;
    display: flex;
    flex-direction: column;
    width: 100%;
    text-align: left;
}
.no-date {
    text-align: left;
    margin-left: auto;
    width: 140px;
    
}
.from-amount {
    display: flex;
    width: 100%;
    justify-content: space-between;
}
.by {
    width: 100%;
    text-align: right;
}
.receipt h2 {
    text-align: center;
}
.receipt p {
    margin: 5px 0;
    
}
.receipt p span {
    border-bottom: 1px solid #080808;
    width: auto;
}
#printBtn {
    background-color: #337ab7;
}

#button-grp {
    display: flex;
    gap: 10px;
}

#button-grp button {
    width: 100%;
}

/* Print styles */
@media print {
    body * {
        visibility: hidden;
    }
    .receipt, .receipt * {
        visibility: visible;
    }
    .receipt {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        border: none;
        box-shadow: none;
    }
}
