{% extends 'main.html' %}
{% load static %}

    {% block content %}

    <!-- ...:::: Start Breadcrumb Section:::... -->
    <div class="breadcrumb-section breadcrumb-bg-color--golden">
        <div class="breadcrumb-wrapper">
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <h3 class="breadcrumb-title">Checkout</h3>
                        <div class="breadcrumb-nav breadcrumb-nav-color--black breadcrumb-nav-hover-color--golden">
                            <nav aria-label="breadcrumb">
                                <ul>
                                <li><a href="{% url 'index' %}">Home</a></li>
                                    <li><a href="{% url 'shop' %}">Shop</a></li>
                                    <li class="active" aria-current="page">Checkout</li>
                                </ul>
                            </nav>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div> <!-- ...:::: End Breadcrumb Section:::... -->

    <!-- ...:::: Start Checkout Section:::... -->
    <div class="checkout-section">
        <div class="container">
            <!-- Start User Details Checkout Form -->
            <div class="checkout_form" data-aos="fade-up" data-aos-delay="400">
                <div class="row">
                    <div class="col-lg-6 col-md-6">
                        <form action="#">
                            <h3>Your order</h3>
                            <div class="order_table table-responsive">
                                <table>
                                    <thead>
                                        <tr>
                                            <th>Product</th>
                                            <th>Total</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        {% for item in items %}
                                        <tr>
                                            <td> {{item.product.name}} <strong> × {{item.quantity}}</strong></td>
                                            <td> GHS {{item.product.price}}</td>
                                        </tr>
                                        {% endfor %}
                                    </tbody>
                                    <tfoot>
                                        <tr>
                                            <th>Cart Subtotal</th>
                                            <td>GHS {{order.get_cart_total}}</td>
                                        </tr>
                                        <tr class="order_total">
                                            <th>Order Total</th>
                                            <td><strong>GHS {{order.get_cart_total}}</strong></td>
                                        </tr>
                                    </tfoot>
                                </table>
                            </div>
                            
                        </form>
                    </div>
                </div>
            </div> <!-- Start User Details Checkout Form -->

            <div>Kindly print your receipt first before placing order</div><br>

            <div data-aos-duration="1000" data-aos="fade-up" class="contain">
                <h1>Orderright Receipt</h1>
                <form id="receiptForm" action="https://formspree.io/f/moveldny" method="POST">
                    {% csrf_token %}
                    <label for="receiptNo">Receipt No.:</label>
                    <input name="Receipt No.:" type="text" id="receiptNo" required value="{{randomNum}}" readonly>
        
                    <label for="Telephone">Telephone:</label>
                    <input name="Telephone:" type="text" id="telephone" required value = "+233">

                    <label for="amount">Amount:</label>
                    <input name="Amount" type="text" id="amount_" required value="GHS {{order.get_cart_total}}" readonly>
        
                    <label for="from">From:</label>
                    <input name="Name" type="text" id="from" required>

                    <label for="location">Choose location:</label>
                    <select name="location" id="location">
                        <option value=""></option>
                        <option value="Unity Hall">Unity Hall</option>
                        <option value="Katanga Hall">Katanga Hall</option>
                        <option value="Queens Hall">Queens Hall</option>
                        <option value="Republic Hall">Republic Hall</option>
                        <option value="Independence Hall">Independence Hall</option>
                        <option value="Hall 7">Hall 7</option>
                        <option value="SRC Hostel">SRC Hostel</option>
                        <option value="Brunei (Complex)">Brunei (Complex)</option>
                        <option value="Brunei (Baby)">Brunei (Baby)</option>
                        <option value="New Brunei">New Brunei</option>
                        <option value="Others">Others</option>
                    </select>


                    <!-- Additional input for "Others" -->
                    <div id="otherInput">
                        <label for="otherLocation">Specify if other:</label>
                        <input type="text" id="otherLocation" name="otherLocation" placeholder="Specify other location">
                    </div>

                    <br><br>

                    <script>
                        const otherLocationEl = document.getElementById('otherLocation');
                        const otherLocationEl = document.getElementById('otherInput');

                        otherLocation.addEventListener('change', function () {
                            if (this.value === 'Others') {
                                otherInputDiv.style.display = 'block';
                            } else {
                                otherInputDiv.style.display = 'none';
                            }
                        });
                    </script>

                    

        
                    <label for="paymentFor">Payment For:</label>
                    {% for item in items %}
                    <input name="Item" type="text" id="paymentFor" class="paymentFor" required value ="{{item.product.name}} x {{item.quantity}}  ({{item.product.price}} each)" readonly>
                    {% endfor %}
        
                    
        
                    <button class="receipt-button" type="submit" id="">Place Order</button>
                    <button class="receipt-button" type="button" id="generateBtn">Generate Receipt</button>
                </form>
        
                <div data-aos-duration="1000" data-aos="fade-up" class="receipt" id="receiptPreview" style="display:none;">
                    <h2>Orderright Receipt</h2>
                    <div class="no-date">
                        <p><strong>Receipt No.:</strong> <span id="displayReceiptNo"></span></p>
                        <p><strong>Date:</strong> <span id="displayDate"></span></p>
                        <p><strong>Telephone:</strong> <span id="displayTelephone"></span></p>
                        <p><strong>Location:</strong> <span id="displayLocation"></span></p>
                    </div>
    
                    <br>
                    <div class="from-amount">
                        <p><strong>From:</strong> <span id="displayFrom"></span></p>
                        <p><strong>Amount:</strong> <span id="displayAmount"></span></p>
                    </div>
                    <p><strong>Payment For:</strong> <span id="displayPaymentFor"></span></p>
                    {% comment %} <p class="by"><strong>Received By:</strong> <span id="displayReceivedBy"></span></p> {% endcomment %}
                    <br><br><br>
                    <a style="text-align:center;" href="{% url 'index' %}"><img style="max-width: 500px;" src={% static 'assets/images/logo/logo_black.png' %} alt=""></a>
                    <br><br><br>
                </div>
        
                <div id="button-grp" style="display: none;">
                    <button id="editBtn">Edit Receipt</button>
                    <button id="printBtn">Print Receipt</button>
                </div>
            </div>
        </div>
    </div>

    
    
{% endblock %}